
@keyframes fadein {
  0% {opacity: 0}
  100% {opacity: 0.8}
}

@keyframes revfadein {
  0% {opacity: 0.8}
  100% {opacity: 0}
}

@keyframes imgTextMove{
  0% {background-position: 0 0}
  100% {background-position: 20px 0%}
}

@keyframes revImgTextMove{
  0% { background-position: 20px 0;}
  100% { background-position: 0 0;}
}

@keyframes headerTextMove{
  0% {   left: 35%;
         opacity: 0;}
  100% { left: 43%;
         opacity: 1;}
}

@keyframes revHeaderTextMove{
  0% { left: 43%;
       opacity: 1; }
  100% { left: 28%;
         opacity: 0; }
}

@keyframes subTextMove{
  0% {
      right: 10%;
      opacity: 1;
     }
  100% {
      right: 25%;
      opacity: 1;
    }
}


@keyframes revSubTextMove{
  0% {
      right: 22%;
      opacity: 1; }
  100% {
      right: 12%;
      opacity: 0; }
}

@keyframes borderTextMove{
  0% {
      right: 5%;
      opacity: 0;
      width: 20%; }
  50% {width: 15%}  
  100% {
      right: 38%;
      opacity: 0.2;
      width: 20%; }
}

@keyframes revBorderTextMove{
  0% {
      right: 38%;
      opacity: 0.2;
      width: 20%; }
  50% { width: 15%;}

  100% {
      right: 10%;
      opacity: 0;
      width: 20%; }
}
