.social {
  height: 40px;
  margin-bottom: line-height-scale(4);
}

.social__icon {
  width: 40px;
  height: 100%;
  display: inline-block;
  float: right;
  margin-left: 1%;
}

.social__icon--linkedin,
.social__icon--twitter, 
.social__icon--ad,
.social__icon--github {
  &:hover{
    fill: palette(yellow);
  }
}