body {
  font-family: $font-family--primary;
  @include type-setting(0);
}

p {
	margin: 0;
}

h1, h2, h3 {
  font-family: $font-family--display;
}

h1 {
	font-size: type-scale(5);
  line-height: line-height-scale(4);
	color: palette(yellow);
  text-transform: uppercase;
}

h3 {
  color: palette(yellow, dark);
  text-transform: capitalize;
  padding-top: line-height-scale(-1);

  &:nth-child(1){
    padding-top: 0;
  }

  + span {
    text-transform: uppercase;
    color: palette(grey, x-dark);
    font-size: type-scale(-1);
  }
}

a {
  color: palette(grey, dark);
  text-decoration: none;

  &:active{
   color: palette(yellow);
  }
  &:visited {
    color: pallete(yellow,dark);
  }
  &:hover{
    color: palette(yellow, light);
  }
  &:focus{
	color: palette(yellow, dark);
  }	
}

footer {
  text-align: center;
}

.title__name{
  color: palette(yellow, light); 
}

.subtext {
  @include type-setting(-1);
  text-transform: uppercase;
  color: palette(grey, x-dark);
}


