.container {
  margin: 5%;
  background-color: palette(grey, x-light);
  padding: 2%;

  & h1 {
  	clear: both;
  	margin-top: line-height-scale(3);	
  }

  & .subtext {
  	margin-bottom: line-height-scale(4);
  }
}

// temporary logo
.logo {
  width: 60px;
  height: 60px;
  background-color: red;
  text-align: center;
  display: inline-block;
}

.thumbcont {
  width: 100%;
  box-sizing: border-box;
  clear: both;
}

.thumbcont__image {
  width: 49%;
  height: 300px;
  background-color: palette(yellow);
  display: inline-block;

  &:nth-child(2){
    float: right;
  }
}

.social {
  height: 40px;
  margin-bottom: line-height-scale(0);
}

.social__icon {
  width: 40px;
  height: 100%;
  background-color: red;
  display: inline-block;
  float: right;
  margin-left: 1%;
}