.container {
  margin: 3%;
  background-color: palette(grey, x-light);
  padding: 2%;
  padding: 2% 2% 8%;

  & h1 {
  	clear: both;
  	margin-top: line-height-scale(3);	
  }

  & .subtext {
  	margin-bottom: line-height-scale(4);
  }
}

// temporary logo
.logo {
  display: inline-block;

  & img {
    width: 30%;
  }
}

.thumbcont {
  width: 100%;
  height: 70vh;
  box-sizing: border-box;
  clear: both;

  & div {
  	display: inline-block;
  }

  & div:nth-child(2){
    float: right;
  }
}

.thumbcont__imgcont {  
  width: 49%;
  height: 100%;
  background-color: $black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.thumbcont__img--sole {  
  background-image: url(../img/journal.png);
}

.thumbcont__img--journ {  
  background-image: url(../img/solecast.png);	
}

.thumbcont__img {
  width: 100%;

  background-color: palette(yellow);
  display: inline-block;
}

.social {
  height: 40px;
  margin-bottom: line-height-scale(4);
}

.social__icon {
  width: 40px;
  height: 100%;
  background-color: red;
  display: inline-block;
  float: right;
  margin-left: 1%;
}

.social__icon--linkedin,
.social__icon--twitter, 
.social__icon--ad,
.social__icon--github {
  &:hover{
    fill: palette(yellow);
  }
}



