
// ==== NAV ==== // 

nav {
  position: absolute;
  right: 7%;
  top: line-height-scale(5);
  color: palette(yellow, x-light);
}

.nav__links {
  text-align: right;

  > li {
    list-style: none;
    display: inline-block;
    vertical-align: text-top;
  }
}

.ul-nested {

  ul {
    padding-top: 10%;
    display: none;
  }

  li {
    width: 120px;
    padding: 8% 8% 10%;
    background-color: palette(grey, xx-dark);
    color: palette(yellow, x-light);
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid palette(grey, light);
  }

  li:first-child {
    padding-top: 8%;
  }
} 

// Responsive nav
.rnav {
  display: none;
  width: 85%;
  right: 8%;
  text-align: right;
  opacity: 0.9;
  top: line-height-scale(2);
  z-index: 5;
}

.rnav__box {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid palette(grey);
  float: right;
  margin-bottom: 5%;

  &:hover{
    border: 2px solid palette(yellow);
    cursor: pointer;
  }

  .rnav__box--hr{
    width: 60%;
    margin: 30% auto;

    hr {
      margin: 20% 0;
    }
  }
}

.rnav__links > li {
  padding-right: 3%;
  background-color: palette(grey);
  list-style: none;
  vertical-align: text-top;
  padding-top: 4%;
  padding-bottom: 6%;
  clear: both;
}

.rul-nested {

  border-top: 1px solid palette(grey);
  
  ul {
    padding-top: 4%;
    display: none;
  }

  li {
    width: 100%;
    padding: 4% 1.5% 4%;
    background-color: palette(grey, xx-dark);
    color: palette(yellow, x-light);
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid palette(grey, light);
  }
} 


// ==== FOOTER ==== // 


footer {
  clear: both;
  margin-top: line-height-scale(2);
  text-transform: uppercase;

  div {
    background-color: palette(grey);
    padding: 1%;
    width: 47%;
    height: line-height-scale(4);
  }

  div:first-child{
    float: left;
  }

  div:last-child{
    float: right;
  }

  .footer__icon{
    width: 30px;
  }
}

//first child of the div 
// flex aligns divs center vertically
.footer__text{
  display: flex;
  align-items: center;

  a:first-child, span:first-child {
    padding-right: type-scale(1);
  }
}





