.soleimg img{
  margin-bottom: line-height-scale(0);
  float: right;
  border: 1px solid palette(grey, dark);
}

.feature__img img{
  width: 50%;
}

.what__img img {
  width: 70%;
  // float: right;
}

.api__img img {
  width: 35%;
  // float: right;
}

.mvc__img img {
  width: 100%;
}

.responsive__img img{
  width: 35%;
}


.feature__text {
  // background-color: palette(yellow);
}

.solecastcont {
  width: 100%;
  box-sizing: border-box;
  clear: both;

  div {
  	display: inline-block;
  }

  > div {
    display: inline-block;
    width: 49%;
  }

  div:nth-child(odd){
    // float: left;
  }
  
  div:nth-child(even){
    float: right;
    margin-top: line-height-scale(5);
  }

//odd but not the first child
 div:nth-child(2n+3){
    margin-top: line-height-scale(2);
  }

  p {
    @include paraSpacing;
  }
}



